body {
    margin: 0;
    padding: 0;
}

.card {
    margin: auto;
}

.question > h4 {
    margin-bottom: 20px;
}

.card-header {
    display: flex;
}

.card-header > h5 {
    width: 50%;
}

.card-footer {
    color: black;
}