.container {
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.container > input {
    width: 100%;
    font-size: 1.5em;
}

.questionBox {
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
